h1,h5{
    font-size: 65px;
    color: black;
    font-family: 'Space Grotesk', sans-serif;

}
p,li{
    font-family:'Montserrat', sans-serif;
}
h4{
  font-size: 30px;
  font-family: 'Space Grotesk', sans-serif;
  font-style: italic;
}
  
  
  
 
}

.img{
  width: fit-content;
}




.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  .card-img-top {
    flex-grow: 1;
    object-fit:contain;
}
.card-body{
    flex-grow:0;
}
