h1{
    font-size: 65px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p,li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }